<%- include('includes/head.ejs') %>




<div id="myDIV" class="header">
  <h2 style="margin:5px">My To Do List</h2>
  <input type="text"  id="myInput" placeholder="Title...">
  <span class="addBtn" onclick="newElement()">Add</span>
</div>
<div style="margin-left: 2%">
    <input type="checkbox" name="comcheck" id="comcheck">
    <label for="comcheck">Show completed tasks</label><br>
    <input type="checkbox" name="ucheck" id="ucheck">
    <label for="ucheck">Show uncompleted tasks</label><br>
    
</div>

<ul id="myUL">
  <li>Wake up at 4am</li>
  <li class="checked">Hit the gym</li>
  <li>Set off for work at 6am</li>
  <li>Meet executives</li>
  <li>Work on records</li>
  <li>Exit office</li>
</ul>



<script src="js/myscript.js"></script>



<%- include('includes/foot.ejs') %>